.empty-heart {
    color: #CDCDCD !important;
}

.blog-posts .submit-comment textarea {
    text-transform: none !important;
}

.submit-reply textarea {
    width: 100%;
    height: 46px;
    border: 1px solid #eee;
    font-size: 13px;
    text-transform: none;
    font-weight: 500;
    color: #7a7a7a;
    outline: none;
    padding: 10px 15px;
    margin-bottom: 30px;
    height: 180px;
    max-height: 220px;
    max-width: 100%;
    min-width: 160px;
}

.reply-button {
    display: inline-block;
    background-color: #f48840;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    padding: 12px 20px;
    text-transform: uppercase;
    transition: all .3s;
    border: none;
    outline: none;
}

.fa-heart {
    color: red !important;
}
.empty-heart {
    color: #CDCDCD !important;
}

.btn-primary {
    display: inline-block;
    background-color: #f48840;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    padding: 12px 20px;
    text-transform: uppercase;
    transition: all .3s;
    border: none;
    outline: none;
}

.errorlist {
    color: red !important;
    padding-bottom: 10px !important;
}

.contact-us .contact-form input {
    margin-bottom: 10px !important;
}

input, textarea {
    text-transform: none !important;
}

.profile-picture {
    max-width: 100%;
    width: 180px;
    height: 180px;
}

.owl-banner {
    padding: 47px !important;
}

.owl-carousel .owl-item img {
    height: 440px !important;
}


/* styles.css */

.language-dropdown {
    display: flex;
    align-items: center;
    gap: 10px;
}

#language-select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#translate-button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


/* reset_password.css */
/* Additional styling for the password reset form */

.reset-password-container {
    text-align: center;
    margin-bottom: 30px;
}

.reset-password-heading {
    font-size: 28px;
    margin-bottom: 10px;
    color: #333;
}

.reset-password-subtext {
    font-size: 16px;
    color: #666;
}

.reset-form {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.reset-form-label {
    font-size: 18px;
    margin-bottom: 5px;
    color: #444;
}

.reset-form-button {
    background-color: #007bff;
    border-color: #007bff;
    transition: background-color 0.3s ease-in-out;
}

.reset-form-button:hover {
    background-color: #0056b3;
}
